local-address=10.58.12.77
noproxy=127.0.0.1,10.58.12.77,https://nexus.prod.uci.cu
strict-ssl=false
registry=http://nexus.prod.uci.cu/repository/npm-all/
electron_mirror=https://npmmirror.com/mirrors/electron/
shamefully-hoist=true
